version: "3.8"
services:
  flight-tracker:
    build: .
    container_name: flight-tracker
    restart: unless-stopped
    network_mode: host
    environment:
      - PORT=3099
      - HA_URL=https://home.mikegoebel.net
      - HA_TOKEN=<Your_HA_Token>
      - FA_API_KEY=<Your_FlightAware_Token>
      - CALENDAR_ENTITY=calendar.american_airlines_schedule
